@media  screen and  (max-width:600px){
    .section-title-imges,
    .banner-section,
    .banner-baton,
    .section-title,
    .banner-section-text
    {
        flex-direction: column;
    }

    .banner-section-imege{

    }
    .main-banner-text,
    .main-heade{
        height: 100%;
        width: 100%;
    }
    .section-heead{
        padding: 20px;
        margin-top: 20px;
    }
    .section-title,
    .banner-section-imege video,
    .section-title-imges{
        flex-direction: column;

    }
    .header-img,
    .imagesd{
        width: 100%;
        height: 100%;
    }

    .banner-section{
        margin-top: 20px;
    }
    .section-heead{
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .banner-section-content,
    .banner-section-imege,
    .section-heead
    {
        width: 100%;
        margin-top: 34px;
    }
    .heading-title{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .heading-name{
        display: none;
    }
    .icon-nav{
        display: block;
    }
}